body {
    background-color: #111;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
} 
.content {
    margin: 50px auto;
    width: 1024px;
    background-color: #373737;
    border-radius: 15px;
    box-shadow: 0 0 5px #686868  ;
}
.content p {
    padding:  0 10px 10px 10px;
    text-align: justify;
}
.content span {
    font-size: 25px;
    letter-spacing: 5px;
    display: flex;
    padding:  15px;
}